/*@charset "utf-8";*/
body { font-family: "Lucida Grande", SourceHanSansJP-Regular, YuGothic, "Yu Gothic", "游ゴシック体", "游ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif; font-size: 95%; color: #222222; overflow-x: hidden; }
@media only screen and (min-width: 768px) { body { font-size: 18px; line-height: 36px; letter-spacing: 1px; } }

/*ヘッダー *********************************/
header { position: absolute; width: 100%; z-index: 100; }
header > div { width: 100%; overflow: hidden; }
@media only screen and (min-width: 768px) { header > div { width: 980px; margin: 0 auto; } }
header .toggle-btn { float: right; width: 64px; height: 64px; padding: 20px; margin-top: 2px; }
header .toggle-btn .navicon-line { background-color: #333; border-radius: 1px; height: 4px; margin-bottom: 3px; width: 24px; }
@media only screen and (min-width: 768px) { header .toggle-btn { display: none; } }

.key-visual { position: relative; width: 100%; top: 0; left: 0; padding: 100px 5px 20px; background: url(../img/key-visual.jpg) center center no-repeat; background-size: cover; }
@media only screen and (min-width: 768px) { .key-visual { padding: 210px 10px 50px; } }
.key-visual img { display: block; max-width: 100%; height: auto; width: auto; margin: 0 auto; }

/*NAV *********************************/
nav { display: none; float: right; font-size: 0; margin-top: 25px; }
nav li { display: inline-block; vertical-align: top; font-size: 18px; font-weight: bold; letter-spacing: 1px; margin-left: 25px; }
nav li a { color: #333; }
@media only screen and (min-width: 768px) { nav { display: block; } }

/*FOOTER
**********************************/
footer { position: relative; background-color: #333; color: #fff; font-size: 12px; text-align: center; padding: 15px 0; margin-top: 30px; }
@media only screen and (min-width: 768px) { footer { font-size: 14px; } }
footer h2 { font-size: 14px; }
@media only screen and (min-width: 768px) { footer h2 { font-size: 18px; } }
footer a { color: #fff; }
footer p { margin-top: 10px; line-height: 20px; }

.pagetop { position: fixed; display: block; width: 60px; height: 60px; right: 10px; bottom: 56px; }
@media only screen and (min-width: 768px) { .pagetop { right: 20px; } }
.pagetop img { max-height: 100%; width: auto; height: auto; }

/*SECTION *********************************/
section { padding: 30px; padding-left: 10px; padding-right: 10px; }
@media only screen and (min-width: 768px) { section { padding: 60px 0 30px; text-align: center; } }
section.key-visual { margin-top: 0; }
@media only screen and (min-width: 768px) { section.sky, section.gry { margin-left: -50%; margin-right: -50%; } }
section.sky { background-color: #e5f3fa; }
section.gry { background-color: #f3f3f3; }

/*BOXS *********************************/
.container { width: 100%; overflow: visible; }
@media only screen and (min-width: 768px) { .container { width: 980px; margin: 0 auto; } }

#map { height: 200px; }
@media only screen and (min-width: 768px) { #map { height: 400px; } }

.box-3cols { font-size: 0; }
.box-3cols > div, .box-3cols > section, .box-3cols > article { text-align: center; padding: 10px; }
.box-3cols > div h2, .box-3cols > section h2, .box-3cols > article h2 { font-size: 20px; color: #3498db; }
@media only screen and (min-width: 768px) { .box-3cols > div .img-wrap, .box-3cols > section .img-wrap, .box-3cols > article .img-wrap { height: 130px; } }
.box-3cols > div p, .box-3cols > section p, .box-3cols > article p { font-size: 15px; text-align: left; line-height: 27px; }
@media only screen and (min-width: 768px) { .box-3cols > div, .box-3cols > section, .box-3cols > article { display: inline-block; vertical-align: top; width: 326px; padding: 10px 30px; } }

.img-wrap { padding-top: 10px; }
.img-wrap img { display: block; max-width: 80%; height: auto; width: auto; margin: 0 auto; }
@media only screen and (min-width: 768px) { .img-wrap img { max-width: 100%; } }

/*HEADING *********************************/
header h1 { float: left; width: 70%; padding: 20px; }
@media only screen and (min-width: 768px) { header h1 { width: 320px; } }
header h1 img { max-width: 100%; }

section > h1 { width: 100%; height: 34px; margin: 10px auto; font-size: 0; }
@media only screen and (min-width: 768px) { section > h1 { height: 65px; } }
section > h1 + p, section > h1 + div { margin-top: 20px; }
@media only screen and (min-width: 768px) { section > h1 + p, section > h1 + div { margin-top: 30px; } }
section.about > h1 { background: url(../img/h1_about.png) center top no-repeat; background-size: auto 100%; }
section.features > h1 { background: url(../img/h_features.png) center top no-repeat; background-size: auto 100%; }
section.entry > h1 { background: url(../img/h_entry.png) center top no-repeat; background-size: auto 100%; }
section.venue > h1 { background: url(../img/h_venue.png) center top no-repeat; background-size: auto 100%; }

  /*TEXT
**********************************/
.icon-email, .icon-web { display: inline-block; padding-left: 20px; width: 280px; font-weight: 20px; font-weight: bold; line-height: 33px; color: #333; }
@media only screen and (min-width: 768px) { .icon-email, .icon-web { width: 350px; } }
.icon-email:hover, .icon-web:hover { color: #3498db; }

.icon-email { background: url(../img/icon-email.png) left center no-repeat; background-size: auto 24px; }

.icon-web { background: url(../img/icon-web.png) left center no-repeat; background-size: auto 24px; }

.tx-sm { font-size: 13px; letter-spacing: 0; line-height: 20px; }

.tx-lg { font-size: 15px; font-weight: bold; text-align: center; color: #3498db; }
@media only screen and (min-width: 768px) { .tx-lg { font-size: 30px; } }

/*BUTTON
**********************************/
.btn-lg { width: 100%; margin: 15px 0; background: #3498db; border-radius: 4px; font-size: 18px; font-weight: bold; color: #fff; line-height: 35px; text-align: center; }
@media only screen and (min-width: 768px) { .btn-lg { width: 360px; height: 50px; margin: 30px auto; font-size: 24px; line-height: 50px; } }
.btn-lg:hover { background: #0083db; }
.btn-lg a { color: #fff; }
.btn-lg a.icon-window { background: url(../img/icon-window.png) left center no-repeat; background-size: auto 20px; padding-left: 36px; }

.btn-sm { width: 65%; margin: 7px auto; background: #3498db; border-radius: 4px; font-size: 18px; font-weight: bold; font-style: italic; color: #fff; line-height: 35px; text-align: center; }
@media only screen and (min-width: 768px) { .btn-sm { width: 184px; height: 35px; line-height: 35px; } }

 /*D LIST
**********************************/
@media only screen and (min-width: 768px) { .d-list { width: 640px; margin: 0 auto; } }
.d-list dl { border-bottom: 1px solid #ccc; padding: 10px 0; }
@media only screen and (min-width: 768px) { .d-list dl { padding: 0; border: none; text-align: left; } }
.d-list dl:first-child { border-top: 1px solid #ccc; }
@media only screen and (min-width: 768px) { .d-list dl:first-child { border: none; } }
@media only screen and (min-width: 768px) { .d-list dl dt, .d-list dl dd { display: inline-block; vertical-align: middle; } }
.d-list dl dt { font-weight: bold; }
@media only screen and (min-width: 768px) { .d-list dl dt { width: 90px; } }
.d-list dl dd { margin-left: 0; }
@media only screen and (min-width: 768px) { .d-list dl dd { position: relative; padding-left: 35px; }
  .d-list dl dd:before { position: absolute; content: "："; left: 0; } }

/*ドロワーMENU
**********************************/
.drawr { display: none; background-color: rgba(255, 255, 255, 0.9); position: absolute; top: 0px; right: 0; width: 100%; height: 100%; padding: 30px 10px 20px; z-index: 1000; }
.drawr .drawr-header { position: relative; height: 30px; }
.drawr .drawr-header .toggle-btn-close { position: absolute; display: block; height: 40px; width: 40px; right: 2px; top: 0px; text-align: center; }
.drawr .drawr-header .toggle-btn-close img { max-height: 20px; width: auto; height: auto; }

#menu li { border-bottom: 1px solid #333; }

#menu li a { color: #333; display: block; font-weight: bold; line-height: 40px; }

.block { display: block; }
